# Recursive calls
**/node_modules
# **.env <--- Uncomment this line to ignore all .env files.

# React app
app/build
app/*.pnp
app/*.pnp.js
app/coverage
app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*

.idea/